/* .mtk1 {
  text-shadow: 0 0 2px #100c0f, 0 0 2px #B98EF1, 0 0 2px #a1a1a14f !important;
}

.mtk3 {
  text-shadow: 0 0 2px #100c0f, 0 0 2px #B98EF1, 0 0 2px #a1a1a14f !important;
} */

/** functions and strings **/
/* .mtk20 {
  text-shadow: 0 0 2px #100c0f, 0 0 2px #B98EF1, 0 0 2px #100c0f;
} */

.monaco-editor .margin, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
  background: transparent;
}

/* Add the subtle gradient to the editor background */
.monaco-editor {
  background-color: transparent !important;
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

/* Active tab neon */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s;
    box-shadow: inset 0 -20px 34px -20px #c4115c;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* Active sidebar item */
.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked {
  position: relative;
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked::before {
 content: '';
 position: absolute;
 bottom: 0px;
 top: 0px;
 left: 1px;
 width: 22px;
 height: 100%;
 box-shadow: inset 7px 0px 9px -4px #c4115c;
 opacity: 1;
 transition: opacity 0.5s;
 background: transparent;
 margin: auto;
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked::after {
  content: '';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  transition: opacity 1s;
  opacity: 0;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before, .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item:focus:before {
    border-left: 1px solid;
}

/* update lightbuld color */
.codicon-light-bulb:before, .codicon-lightbulb:before{
  filter: drop-shadow(0 0 5px #aa0e90);
  /* color: #c4115c !important; */
}

/* change background logo */
/* .monaco-workbench .part.editor > .content .editor-group-container.empty .editor-group-letterpress {
    background-image: url('star-wars.gif'); // image url
} */

/* remove first page text options */
/* .monaco-workbench .part.editor>.content .editor-group-container.empty>.editor-group-letterpress {
    max-width: 660px !important;
}

.monaco-workbench .part.editor>.content.empty .editor-group-container.empty>.editor-group-letterpress {
    background-size: 100%;
    height: 115%;
}

.monaco-workbench .part.editor.has-watermark>.content.empty>.watermark {
    display: none;
} */
